﻿
{{-[%langcode%]-}} =

=== Морфологические и синтаксические свойства ===
{{сущ [%langcode%]
|основа=
|слоги={{по-слогам|}}
}}

{{морфо|прист1=|корень1=|суфф1=|оконч=|частица=}}

=== Произношение ===
{{transcriptions||}}

=== Семантические свойства ===

==== Значение ====
[% FOREACH thing IN meanings %]
# [% thing %] {{пример||перевод=}}
[% END %]


==== Синонимы ====
#
#

==== Антонимы ====
#
#

==== Гиперонимы ====
#
#

==== Гипонимы ====
#
#

=== Родственные слова ===
{{родств-блок
|умласк=
|уничиж=
|увелич=
|имена-собственные=
|существительные=
|прилагательные=
|числительные=
|местоимения=
|глаголы=
|наречия=
|предикативы=
|предлоги=
}}

=== Этимология ===
Происходит от {{этимология:|}}

=== Фразеологизмы и устойчивые сочетания ===
*

=== Библиография ===
*

{{stub|[% langcode %]}}<!--{{improve|[% langcode %]|??}}-->
{{Категория|язык=[% langcode %]|||}}
{{subst:длина слова|lang=[% langcode %]}}

